-# .item-new
-#   .sellingitem
-#     = form_with(model: @itemimages, local: true) do |f|
-#       .images
-#         %h3
-#         出品画像
-#         %span 必須
-#         %p
-#         最大10枚までアップロードできます
-#         = f.file_field :image, class: 'hidden'
-#       .submit-btn
-#         = f.submit "出品する"