* {
  box-sizing: border-box;
}
header {
  display: block;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

html {
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

li {
  display: list-item;
  list-style: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
}

.pcHeader {
  padding: 0 60px;
  .headerInner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .mainHeader {
      position: relative;
      display: flex;
      align-items: center;
      .icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        a {
          width: 140px;
          display: block;
        }
      }
      .searchBox {
        margin-left: auto;
        width: 100%;
        form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          .searchBox--input {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          button {
            width: 36px;
            height: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
            img {
              width: 100%;
              vertical-align: bottom;
            }
          }
        }
      }
    }
    .nav {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      .listsLeft {
        position: relative;
        display: flex;
        &__item {
          display: flex;
          line-height: 38px;
          a {
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
        }
        &__item--first {
          text-decoration: none;
          padding: 0;
        }
        a:hover{
          color: #3CCACE;
        }
        .listsLeft__item.listsLeft__item--first:hover > .first {
          visibility: visible;
          opacity: 1;
        }
        .first {
          height: 665px;
          opacity: 0;
          visibility: hidden;
          background-color: rgba(255, 247, 247, 0.7);
          position: absolute;
          top: 32px;
          z-index: 2;
          &__parent {
            width: 200px;
            height: 35px;
            font-size: 12px;
            line-height: 35px;
            padding-left: 10px;
            &:hover > .second{
              opacity: 1;
              visibility: visible;
              color: black;
              border-left: 1px solid #f5f5f5;
            }
            .second {
              height: 100%;
              opacity: 0;
              visibility: hidden;
              background-color: rgba(255, 247, 247, 0.7);
              position: absolute;
              top: 0;
              left: 100%;
              &__child {
                padding-left: 10px;
                width: 200px;
                &:hover > .third {
                  opacity: 1;
                  visibility: visible;
                  border-left: 1px solid #f5f5f5;
                }
                .third {
                  height: 100%;
                  opacity: 0;
                  visibility: hidden;
                  background-color: rgba(255, 247, 247, 0.7);
                  position: absolute;
                  top: 0;
                  left: 100%;
                  &__grandchild {
                    padding-left: 10px;
                    width: 200px;
                  }
                  &__grandchild:hover {
                    background-color: #f5f5f5;
                  }
                }
              }
              &__child:hover {
                background-color: #f5f5f5;
              }
            }
          }
          &__parent:hover {
            background-color:#ea352d;
            color: white;
          }
        }
      }
      .listsRight {
        margin-left: auto;
        display: flex;
        &__item {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
        &__item--first {
          text-decoration: none;
          padding: 0;
        }
      }
    }
  }
}

.main {
  background: 3f8f8f8;
  .mainVisual {
    width: 100%;
    height: 560px;
    background-image: image-url('bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__subtitle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #ffff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn {
        display: flex;
        margin: 24px 0 0 0;
        a:first-child {
          margin-right: 10px;
        }
        a {
          width: 180px;
          img {
            border-radius: 7px;
          }
        }
      }
    }
  }
  .topIntroduction {
    padding: 60px 20px;
    .subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .subtitle::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pict {
          position: relative;
          margin-bottom: 20px;
          .number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        &__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            color: #3CCACE;
          }
        }
        &__description {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
      .list--last {
        margin: 16px;
      }
    }
  }
  .topMiddleDI {
    background-image: image-url('bg-topMiddleDl-pict.jpg');
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__inner {
      color: #ffff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .btn {
        display: flex;
        a {
          width: 180px;
          margin-right: 10px;
          img {
            border-radius: 7px;
          }
        }
      }
    }
  }
  .topKeyFeatures {
    padding: 60px 100px;
    background-color: #ffff;
    .head {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .head::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .item {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        &__subtitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  .pickupContainer {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    .head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .productBox {
      .productHead {
        text-align: center;
        a {
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          h3 {
            font-weight: bold;
          }
        }
      }
      .productLists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        .productList {
          width: 220px;
          display: inline-block;
          float: left;
          a {
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
            .productList--image {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .productList--body {
              background-color: white;
              color: #333;
              padding: 16px;
              .name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .details {
                font-size: 16px;
              }
              ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
              p {
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

.appBanner {
  background-image: image-url('bg-appBanner-pict.jpg');
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .inner {
    color: #fff;
    text-align: center;
    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__icon {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      a:first-child {
        margin-right: 10px;
      }
      a {
        width: 180px;
        margin-right: 10px;
        img {
          border-radius: 7px;
        }
      }
    }
  }
}

.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      li a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  p {
    font-size: 14px;
  }
}

.purchaseBtn {
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  img {
    width: 60%;
  }
}