.header

.body
  .main
    .upper 会員登録完了
    .center
      .message
        .message1 ありがとうございます。
        .message2 登録が完了しました。
          
      .button 
        %button フリマを始める
        
    .lowwer


.footer
