.wrapper
  = render "shared/user-header"

  .forget-main
    .forget-panel
      .title
        パスワードをお忘れの方
      .send-main
        .address-group
          .address-form
            .label(for="email") メールアドレス
            .form-address
              %input#address-input-field.address-form__input{:placeholder => "ご登録されたメールアドレス", :type => "text"}/
            .p ご登録されたメールアドレスにパスワード再設定のご案内が送信されます。
          .actions
            = submit_tag "送信する", class: "send-btn"
            
  = render "shared/user-footer"
