.side
  .side-top
    %ul
      %li 
        =link_to "マイページ", user_path(current_user.id)
      
      %li 
        =link_to "出品する", new_item_path
      %li 
        =link_to "出品した商品 - 出品中", unsold_items_path    
      %li
        =link_to "出品した商品 - 売却済み", soldout_items_path
      %li 
        =link_to "購入履歴", afterbuy_items_path
      

  .side-cog
    .side-cog__title
      設定
    .side-cog__contents
      %ul
        %li 
          =link_to "支払い方法", credits_path
        %li 
          =link_to "本人情報編集", "/users/#{current_user.id}/edit"
        %li
          =link_to "登録住所変更", "/users/#{current_user.id}/addresses/#{@user_address_id}/edit"
       