.side
  .side-top
    %ul
      %li マイページ
      -# %li お知らせ
      -# %li やることリスト
      -# %li いいね！一覧
      %li 出品する
      %li 
        =link_to "出品した商品 - 出品中", unsold_items_path    
      %li
        =link_to "出品した商品 - 売却済み", soldout_items_path
      %li 過去の取引
      -# %li ニュース一覧
      -# %li 評価一覧
      -# %li ガイド
      -# %li お問い合わせ

  .side-cog
    .side-cog__title
      設定
    .side-cog__contents
      %ul
        -# %li プロフィール
        %li 発送元・お届け先住所変更
        %li 
          =link_to "支払い方法", credits_path
        %li メール/パスワード
        %li 本人情報
        -# %li 電話番号