%header.pcHeader
  = render "shared/header"

.mains
  .pickupContainers
    %h2.head 商品一覧
  .list
    .productLists
      - @items.each do |value|
        .productList
          = link_to item_path(value) do
            .productList--image
              - value.itemimages.each_with_index do |v|
                =image_tag v.image.url
                -break if i = 0
            .productList--body
              %h3.name
                =value.name
              .detail
                %ul
                  =value.price
                  円(税込) 
                  %i.fa.fa-star.LikeIcon 0