.item-header {
  width: 100%;
  height: 128px;
  background-color: #f5f5f5;
  .item-logo {
    height: 128px;
    text-align: center;
    a {
      display: inline-block;
      line-height: center;
      padding-top: 40px;
      width: 180px;
    }
  }
}

label.item-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
}
span.item-span {
  background-color: red;
  margin-left: 8px;
  font-size: 12px;
  color: white;
  padding: 0 4px;
  border-radius: 2px;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4em;
}

span.item-span.any {
  background-color: rgb(206, 202, 202);
}

p.item-p {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.4em;
  margin-bottom: 16px;
}

.item-new {
  background-color: #f5f5f5;
  width: 100%;
  
  .item-wrapper {
    width: 700px;
    margin: 0 auto;
    background-color: white;
    padding: 50px 40px 50px 40px;
    .sellingitem {
      form {
        .images {
          .pictures {
            padding-bottom: 40px;
            border-bottom: 1px solid #f5f5f5;
            display: flex;
            justify-content: space-between;
            .upload-place {
              font-size: 80px;
              color: rgb(110, 231, 221);
              .hidden {
                display: none;
              }
            }
            
          }
        }
        .name {
          margin-top: 50px;
          margin-bottom: 50px;
          &__inputbox {
            margin-top: 20px;
            width: 100%;
            input {
              width: 100%;
              border-radius: 4px;
              height: 50px;
              padding: 20px;
            }
          }
        }
        .explanation {
          margin-top: 50px;
          margin-bottom: 50px;
          &__inputbox {
            margin-top: 20px;
            width: 100%;
            textarea {
              width: 100%;
              border-radius: 4px;
              height: 150px;
              padding: 20px;
            }
          }
        }
        .category {
          margin-top: 50px;
          margin-bottom: 50px;
          &__inputbox {
            margin-top: 20px;
            width: 100%;
            select {
              width: 100%;
              border-radius: 4px;
              height: 50px;
              padding: 20px;
              margin-bottom: 20px;
            }
          }
        }
        .brand {
          margin-top: 50px;
          margin-bottom: 50px;
          &__inputbox {
            margin-top: 20px;
            width: 100%;
            input {
              width: 100%;
              border-radius: 4px;
              height: 50px;
              padding: 20px;
            }
          }
        }
        .condition {
          margin-top: 50px;
          margin-bottom: 50px;
          &__inputbox {
            margin-top: 20px;
            width: 100%;
            select {
              width: 100%;
              border-radius: 4px;
              height: 50px;
              padding: 20px;
            }
          }
        }
        .postage {
          margin-top: 50px;
          margin-bottom: 50px;
          &__inputbox {
            margin-top: 20px;
            width: 100%;
            select {
              width: 100%;
              border-radius: 4px;
              height: 50px;
              padding: 20px;
            }
          }
        }
        .area {
          margin-top: 50px;
          margin-bottom: 50px;
          &__inputbox {
            margin-top: 20px;
            width: 100%;
            select {
              width: 100%;
              border-radius: 4px;
              height: 50px;
              padding: 20px;
            }
          }
        }
        .day {
          margin-top: 50px;
          margin-bottom: 50px;
          &__inputbox {
            margin-top: 20px;
            width: 100%;
            select {
              width: 100%;
              border-radius: 4px;
              height: 50px;
              padding: 20px;
            }
          }
        }
        .price {
          margin-top: 50px;
          margin-bottom: 50px;
          .price-input {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 1.4em;
            color: gray;
            &__inputbox {
              width: 40%;
              float: right;
              input {
                width: 100%;
                border-radius: 4px;
                height: 50px;
                padding: 20px;
              }
            }
          }
          .price-fee {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 1.4em;
            color: gray;
            &__calc {
              width: 40%;
              float: right;
              text-align: right;
            }
          }
          .price-profit {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 1.4em;
            color: gray;
            &__calc {
              width: 40%;
              float: right;
              text-align: right;
            }
          }
        }
        .submit-btn {
          width: 100%;
          text-align: center;
          input {
            width: 55%;
            background-color: red;
            color: white;
            font-size: 18px;
            font-weight: bold;
            padding: 10px 0;
            border-radius: 5px;
          }
        }
        .back-btn {
          width: 100%;
          text-align: center;
          a {
            display: inline-block;
            text-decoration: none;
            width: 55%;
            background-color: rgb(206, 202, 202);
            color: black;
            font-size: 18px;
            font-weight: bold;
            padding: 10px 0;
            border-radius: 5px;
            margin: 20px 0 20px 0;
          }
        }
      }
      .item-remark {
        font-size: 12px;
        color: inherit;
      }
    }
  }
}

.item-footer {
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
  text-align: center;
  &__link {
    padding-top: 50px;
    padding-bottom: 30px;
    a {
      font-size: 12px;
      text-decoration: none;
      color: inherit;
      padding-left: 20px;
    }
  }
  &__logo {
    text-align: center;
    a {
      display: inline-block;
      line-height: center;
      padding-top: 10px;
      width: 180px;
    }
  }
}
* {
  box-sizing: border-box;
}

header {
  display: block;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.wrapper {
  width: 100vw;
  height: auto;
  background-color: #f5f5f5;
  min-height: 100vh;
  .header {
    padding: 0 60px;
    background-color: white;
    .headerInner {
      max-width: 1040px;
      width: 100%;
      min-height: 82px;
      margin: 0 auto;
      padding: 15px 0 0;
      .mainHeader {
        position: relative;
        display: flex;
        align-items: center;
        .icon {
          padding-bottom: 10px;
          margin-right: 30px;
          border-radius: 4px;
          a {
            width: 140px;
            display: block;
          }
        }
        .searchBox {
          margin-left: auto;
          width: 100%;
          form {
            width: 100%;
            display: flex;
            margin-bottom: 5px;
            .searchBox--input {
              width: calc(100% - 26px);
              height: 36px;
              padding: 0 0 0 5px;
            }
            button {
              width: 36px;
              height: 36px;
              border: 0;
              cursor: pointer;
              background-color: #3CCACE;
              padding: 8px;
              img {
                width: 100%;
                vertical-align: bottom;
              }
            }
          }
        }
      }
      .nav {
        font-size: 14px;
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
        .listsLeft {
          position: relative;
          display: flex;
          &__item {
            display: flex;
            line-height: 38px;
            a {
              color: #333;
              text-decoration: none;
              line-height: 32px;
              background-position: center right;
              background-repeat: no-repeat;
              background-size: 18px;
              padding-right: 30px;
            }
          }
          &__item--first {
            text-decoration: none;
            padding: 0;
          }
        }
        .listsRight {
          margin-left: auto;
          display: flex;
          &__item {
            color: #333;
            line-height: 38px;
            padding: 0 0 0 16px;
            a {
              display: flex;
              align-items: center;
              color: #333;
              text-decoration: none;
              line-height: 32px;
            }
          }
          &__item--first {
            text-decoration: none;
            padding: 0;
          }
        }
      }
    }
  }
  .show{
    min-height: auto;
    background-color: #f5f5f5;
    width: 100%;
    margin: 50px auto;
    .show-main{
      min-height: auto;
      width: 700px;
      background-color: white;
      margin: 0 auto;
      .main-title{
        height: 80px;
        background-color: white;
        &__title{
          text-align: center;
          line-height: 80px;
          font-size: 25px;
          font-weight: bold;
        }
      }
      .main-details{
        width: 100%;
        min-height: auto;
        background-color: white;
        display: flex;
        justify-content: space-between;
        .photo{
          height: auto;
          width: 300px;
          background-color: #f5f5f5;
          margin-left: 40px;
          &__big{
            height: 80%;
            width: 80%;
            background-color: palegoldenrod;
            margin: 0 auto;
            img{
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          &__small{
            height: 20%;
            width: 100%;
            background-color: paleturquoise;
          }
        }
        .contents{
          width: 300px;
          min-height: 350px;
          background-color: white;
          margin-right: 40px;
          ul{
            border-bottom: 1px solid rgb(238, 232, 232);
          }
          li{
            min-height: 50px;
            width: 100%;
            border: 1px solid  rgb(238, 232, 232);
            border-bottom: 0;
            display: flex;
            font-size: 15px;

            .item{
              line-height: 50px;
              padding-left: 5px;
              background-color: #f5f5f5;
              width: 110px;
              border-right: 1px solid  rgb(238, 232, 232);
            }
            .result{
              line-height: 50px;
              width: 190px;
              background-color: white;
              padding-left: 5px;
            } 
            .result-c{
              line-height: 20px;
              width: 190px;
              background-color: white;
              padding-left: 5px;
              padding-bottom: 0;
              font-size: 11px;
              color: rgb(54, 178, 250);
              a{
                color: rgb(54, 178, 250);
              }
            }
              
          }

        }
      }
      .main-price{
        height: 80px;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        line-height: 80px;

        &__yen{
          font-size: 30px;
          text-align: center;
        }
        &__price{
          font-size: 30px;

        }
        .others{
          line-height: 90px;
          display: flex;
          padding-left: 10px;
          &__tax{
            font-size: 10px;
          }
          &__postage{
          }
        }
        .buyer{
          height: 50px;
          margin-left: 500px;
          display: flex;
          .item-edit-btn{
            height: 30px;
            width: 80px;
            margin: 0 auto;
            color: white;
            font-size: 15px;
            text-align: center;
            line-height: 30px;
            background-color: rgb(0, 140, 255);
            font-weight: bold;
            border-radius: 10px;
          }
          .space{
            width: 5px;
          }
          .item-stop-btn{
            height: 30px;
            width: 80px;
            margin: 0 auto;
            color: white;
            font-size: 15px;
            text-align: center;
            line-height: 30px;
            background-color: #ea352d;
            font-weight: bold;
            border-radius: 10px;
          }
        }
      }
      .item-buy-btn{
        height: 60px;
        width: 500px;
        margin: 0 auto;
        color: white;
        font-size: 25px;
        text-align: center;
        line-height: 60px;
        background-color: #ea352d;
        font-weight: bold;
      }
      .item-buy-btn-sold{
        height: 60px;
        width: 500px;
        margin: 0 auto;
        color: white;
        font-size: 25px;
        text-align: center;
        line-height: 60px;
        background-color: #ea352d;
        font-weight: bold;
      }
      a{
        text-decoration: none;
      }
      .comment{
        min-width: 550px;
        margin-top: 50px;
        background-color: white;
        min-height: auto;
        margin: 20px 40px;
        box-sizing: border-box;
      }
      .nice{
        height: 30px;
        width: 80px;
        background-color: pink;
        margin: 20px 40px;
        border-radius: 20px;
        text-align: center;
        line-height: 30px;
      }
      .show-chat{
        border-top: 10px solid #f5f5f5;
        min-height: auto;
        width: 700px;
        background-color: white;
        .chat-attention{
          width: 650px;
          height: 50px;
          background-color: #fff6de;
          margin:10px 25px;
          font-size: 15px;
        }
        .chat-main{
          margin:10px 25px;
          min-height: auto;
          width: 650px;
          background-color: white;
        }
        .chat-form{
          width: 650px;
          height: 150px;
          background-color: white;
          margin: 10px 25px;
          overflow: scroll;
          border: 1px solid #aaa;
        }
        .chat-btn{
          width: 650px;
          height: 50px;
          background-color: #aaa;
          margin:10px 25px;
          text-align: center;
          line-height: 50px;
          color: white;
        }
        .chat-box{
          height: 3px;
          width: 100%;
          background-color: white;
        }
      }
    }
  }

  .appBanner {
    background-image: url(bg-appBanner-pict.jpg);
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    .inner {
      color: #fff;
      text-align: center;
      &__title {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text {
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__icon {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        a:first-child {
          margin-right: 10px;
        }
        a {
          width: 180px;
          margin-right: 10px;
          img {
            border-radius: 7px;
          }
        }
      }
    }
  }

  .footer {
    padding: 60px 0;
    color: #fff;
    background-color: #272727;
    text-align: center;
    .contents {
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      .content {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        margin: 0 2% 0 0;
        &__head {
          margin: 0 0 20px;
          font-size: 16px;
          font-weight: bold;
        }
        li a {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
    &__logo {
      max-width: 160px;
      width: 100%;
      margin: 0 auto;
    }
    p {
      font-size: 14px;

    }
  }
}

.main-t{
  text-align: center;
  line-height: 500px;
  .thank{
  font-size: 30px;
  }
  a{
    text-decoration: none;
    padding-left: 10px;
  }
}
.wrapper{
  .p-show{
    width: 100%;
    height: 850px;
    background-color: #f5f5f5;
    margin-top: 100px;
    .p-show-main{
      height: 850px;
      width: 700px;
      background-color: white;
      margin: 0 auto;
      .main-title{
        height: 80px;
        background-color: white;
        &__title{
          text-align: center;
          line-height: 80px;
          font-size: 25px;
          font-weight: bold;
        }
      }
      .main-info{
        min-width: 700px;
        min-height: 150px;
        border: 1px solid #f5f5f5;
        .info{
          display: flex;
          justify-content: center;
          min-height: 100px;
          margin: 25px auto;
          &__photo{
            height: 100px;
            width: 100px;
            background-color: powderblue;
          }
          .name-and-price{
            margin: 5px 20px;
            font-size: 15px;

            
            .name{
              margin-top: 15px;
            }
            .price{
              height: 20px;
              display: flex;
              margin-top: 15px;
              line-height: 20px;
              padding-left: 5px;
              font-weight: bold;
            &__tax{
              padding-left: 5px;

            }
            &__postage{
              padding-left: 5px;
            }
            }
          }
        }
      }
      .main-price{
        width: 700px;
        height: 150px;
        border-bottom: 1px solid #f5f5f5;
        display: flex;
        line-height: 150px;
        padding-left: 150px;
        font-size: 20px;
        &__title{
          font-weight: bold;
        }
        &__result{
          padding-left: 150px;
          font-size: 30px;
          font-weight: bold;
        }
      }
      .main-buy{
        width: 700px;
        height: 150px;
        border-bottom: 1px solid #f5f5f5;
        .method{
          display: flex;
          line-height: 150px;
          padding-left: 150px;
          &__title{
            font-weight: bold;
          }
          &__result{
            padding-left: 100px;
          }
        }
      }
      .main-adress{
        width: 700px;
        height: 150px;
        border-bottom: 1px solid #f5f5f5;
        .place{
          display: flex;
          line-height: 150px;
          padding-left: 150px;
          &__title{
            font-weight: bold;
          }
          &__result{
            padding-left: 100px;
          }
        }
      }
      .buy-btn{
        height: 200px;
        width: 100%;
        padding: 50px 250px;
      }
    }
  }
}
#payjp_checkout_box input[type=button]{
  background-color: #d9534f !important;
  line-height: 30px !important;
  font-size: 20px !important;
}


