.wrapper {
  width: 100vw;
  min-height: 800px;

  .header{
    background-color: rgb(245, 245, 245);

    .user-header {
      height: 128px;
      margin: 0 auto;
      &__logo {
        line-height: center;
        text-align: center;
        padding-top: 40px;
        width: 180px;
        margin: auto;
      }
    }
  }

  .body{
    background-color: rgb(245, 245, 245);
    width: 100%;
    justify-content: center;


    h1{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      height: 90px;
      width: 700px;
      margin-bottom: 1px;
      font-size: 22px;
      font-weight: bold;
    }

    .input-person{
      margin: 0 auto;
      background-color: white;
      width: 700px;
      padding: 10px 0;
      .nickname{
        margin: 0 auto;
        width: 400px;
        display: flex;
        .field{
          width: 100%;
          .title{
            display: flex;
            padding-top: 10px;
          }
          .box{
            height: 60px;
            line-height: 8px;
          }
          .box input{
            font-size: 16px;
            width: 343px;
            height: 46px;
            margin: 0 29px;
            padding: 10px 16px 8px;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid #ccc
          }
        }
      }
      .mailaddress{
        margin: 0 auto;
        width: 400px;
        display: flex;
        .field{
          width: 100%;
          .title{
            display: flex;
          }
          .box{
            height: 60px;
            line-height: 8px;
          }
          .box input{
            font-size: 16px;
            width: 343px;
            height: 46px;
            margin: 0 29px;
            padding: 10px 16px 8px;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid #ccc
          }
        }
      }
      .password{
        margin: 0 auto;
        width: 400px;
        .field{
          .title{
            display: flex;
          }
          .box{
            height: 60px;
            line-height: 8px;
          }
          .box input{
            font-size: 16px;
            width: 343px;
            height: 46px;
            margin: 0 29px;
            padding: 10px 16px 8px;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid #ccc
          }
        }
        .note{
          color: rgb(139, 139, 139);
          font-size: 13px;
          padding-bottom: 10px;
        }
      }
      .confirmation{
        margin: 0 auto;
        width: 400px;
        .field{
          .title{
            display: flex;
          }
          .box{
            height: 55px;
            line-height: 9px;
          }
          .box input{
            font-size: 16px;
            width: 343px;
            height: 46px;
            margin: 0 29px;
            padding: 10px 16px 8px;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid #ccc
          }
        }
      }
    }

    .input-confirmation{
      margin: 0 auto;
      justify-content: center;
      background-color: white;
      width: 700px;
      .sentence{
        margin: 0 auto;
        width: 400px;
        .title {
          display: flex;
          b{
            font-size: 15px;
          }
        }
        .message {
          font-size: 13px;
        }
      }
    }
    

    .input-names{
      margin: 0 auto;
      justify-content: center;
      background-color: white;
      width: 700px;

      .names{
        margin: 0 auto;
        justify-content: center;
        width: 400px;

        .name1{
          .title{
            display: flex;
            padding: 5px 0;
          }
          .character-name{
            justify-content: space-between;
            display: flex;
            margin: 0 24px;
            .first{
              width: 165.5px;
              height: 48px;
              .first--input{
                width: 165.5px;
                height: 48px;
                .user_first_name input{
                  padding: 10px 16px 8px;
                  width: 165.5px;
                  height: 48px;
                  border-radius: 4px;
                  border: 1px solid #ccc
                }
              }
            }
            .last{
              width: 165.5px;
              height: 48px;
              .last--input{
                width: 165.5px;
                height: 48px;
                .user_last_name input{
                  padding: 10px 16px 8px;
                  width: 165.5px;
                  height: 48px;
                  border-radius: 4px;
                  border: 1px solid #ccc
                }
              }
            }
          }
        }
        .name2{
          .title{
            display: flex;
            padding: 5px 0;
          }
          .kana-name{
            justify-content: space-between;
            display: flex;
            margin: 0 24px;
            .first{
              width: 165.5px;
              height: 48px;
              .first--input{
                width: 165.5px;
                height: 48px;
                .user_first_name_kana input{
                  padding: 10px 16px 8px;
                  width: 165.5px;
                  height: 48px;
                  border-radius: 4px;
                  border: 1px solid #ccc
                }
              }
            }
            .last{
              width: 165.5px;
              height: 48px;
              .last--input{
                width: 165.5px;
                height: 48px;
                .user_last_name_kana input{
                  padding: 10px 16px 8px;
                  width: 165.5px;
                  height: 48px;
                  border-radius: 4px;
                  border: 1px solid #ccc
                }
              }
            }
          }
        }
      }
    }


    .birthday{
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: 700px;
      height: 120px;

      .title{
        display: flex;
        margin: 0 auto;
        width: 400px;
        padding: 5px 0;

      }
      .selects{
        margin-left: 175px;
        width: 343px;
        height: 50px;
      input{
        padding: 10px 16px 8px;
        width: 165.5px;
        height: 48px;
        border-radius: 4px;
        border: 1px solid #ccc
        }
      }
      .message{
        color: rgb(139, 139, 139);
        font-size: 13px;
        width: 400px;
        margin: 0 auto;
        padding-top: 5px;
      }
    }


    .input-personal{
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: 700px;
      .infomation{
        margin: 0px auto;
        width: 400px;
        padding-top: 30px;
        .title{
          display: flex;
          padding: 5px 0;
        }
        .postcode{
          margin: 0 24px;
          .postcode__number{
            padding: 5px 0;
          }
          .postcode__number input{
            padding: 10px 16px 8px;
            width: 165.5px;
            height: 48px;
            display: flex;
            border-radius: 4px;
            border: 1px solid #ccc
          }
        }
        .addresses{
          .prefecture input{
            padding: 10px 16px 8px;
            margin: 3px 24px;
            display: flex;
            width: 165.5px;
            height: 48px;
            border-radius: 4px;
            border: 1px solid #ccc
          }
          .municipality input{
            padding: 10px 16px 8px;
            margin: 3px 24px;
            display: flex;
            width: 165.5px;
            height: 48px;
            border-radius: 4px;
            border: 1px solid #ccc
          }
          .address input{
            padding: 10px 16px 8px;
            margin: 3px 24px;
            display: flex;
            width: 165.5px;
            height: 48px;
            border-radius: 4px;
            border: 1px solid #ccc
          }
          .apartment{
            &__title{
              display: flex;
              width: 150px;
              padding: 3px 0;
            }
            input{
              padding: 10px 16px 8px;
              display: flex;
              margin: 0 24px;
              display: flex;
              width: 165.5px;
              height: 48px;
              border-radius: 4px;
              border: 1px solid #ccc
            }
          }
        }
        .phone{
          &__title{
            display: flex;
            padding: 3px 0;
          }
          &__number{
            display: flex;
            margin: 0 24px;
            input{
              padding: 10px 16px 8px;
              display: flex;
              width: 165.5px;
              height: 48px;
              border-radius: 4px;
              border: 1px solid #ccc
            }
          }
        }
      }
    }


    .button{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      background-color: white;
      height: 170px;
      width: 700px;

      .contents{
        padding-top: 20px;

        .contents__message{
          justify-content: center;
          align-items: center;
          display: flex;
          width: 400px;
          padding-bottom: 30px;
          font-size: 13px;
        }
        .contents__registration{
          width: 400px;
          height: 50px;
          background-color: #ea352d;
          color: white;
        }
      }
    }
  }
}

p.redicon {
  border-radius: 2px;
  background-color: red;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 8px;
  padding-right: 2px;
  padding-left: 2px;
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}


#error_explanation {
  width: 0px;
  height: 0px;
  h2 {
    color: whitesmoke;
  }
  ul {
    color: whitesmoke;
  }
}
p.grayicon {
  border-radius: 2px;
  background-color: #CECACA;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 8px;
  padding-right: 2px;
  padding-left: 2px;
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
