

.header{
  
}



.body{
  background-color: rgb(245, 245, 245);

  h2{
    margin: 0auto;
    text-align: center;
    background-color: white;
    height: 90px;
    width: 700px;
    .confirmation-sentence{
      .--title{

      }
      .--message{

      }

    }
    .name{
    
    }
    .kananame{

    }
    .birthday{
      display: flex;
      .__year{

      }
      .__mouth{

      }
      .__day{

      }
    }

  }
}

.footer{

}