.header{
  
}



.body{
  background-color: rgb(245, 245, 245);
  width: 100%;
  justify-content: center;


  h2{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 90px;
    width: 700px;
    margin-bottom: 1px;

    .input-nickname{
      margin: 0 auto;

      background-color: white;
      height: 90px;
      width: 700px;
    }
      .input-mailadress{}
      .input-password{}
      .input-confirmation{}

      &__contents{
        font-size: 15px;
      }
    }
  }


      .confirmation-sentence{
        background-color: white;
        width: 700px;
        .--title{

        }
        .--message{

        }

        }
      .name{

      }
      .kananame{

      }
      .birthday{
        display: flex;
        .__year{

    }
    .message{
      color: rgb(139, 139, 139);
      font-size: 13px;

      width: 400px;
      margin: 0 auto;
      padding-top: 5px;


    }
  }

  .button{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    // align-items: center;
    background-color: white;
    height: 170px;
    width: 700px;

        }
        .__mouth{

        }
        .__day{

        }
      

    
      .button{
        .--registration{
          &--registration{
            height: 30px;
            width: 100px;
            background-color: rgb(47, 255, 175);
          }
        }
      .contents__registration{
        // height: 50px;
        width: 400px;
        background-color: rgb(47, 255, 186);

        // font-size: 5px;
        color: black;
        text-align: center;
        // padding-top: 10px;
        // vertical-align: middle;

        // Provisional
        padding-top: 15px;
        padding-bottom: 15px;

        &registration{
        // text-align: center;
        // vertical-align: middle;
        // align-items: center;  

      }
      }
  }



.footer{

}