.mypage {
  // height: 100vh;
  .main {
    // height: 100vh;
  }
}

.main{
  .main-left{
    .block{

    }
    .contents{
      display: flex;
      border-bottom: 2px solid #f5f5f5;
      .unsold-titles{
        text-decoration: none;
        color: black;
        height: 80px;
        width: calc(100% / 2);
        background-color: white;
        border: 1px solid #f5f5f5;
        line-height: 80px;
        text-align: center;
        font-weight: bold;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJ0lEQVQoU2NkIAz+MxJWw8BAkaL/DEgGUGQSilORTUKxAlkV9awDAFi7Awk1UQF9AAAAAElFTkSuQmCC)repeat;
      }
      .soldout-titles{
        text-decoration: none;
        color: black;
        height: 80px;
        width: calc(100% / 2);
        border: 1px solid #f5f5f5;
        line-height: 80px;
        text-align: center;
        font-weight: bold;
        background-color: white;
      }
    }
    .list{
      height: 400px;
      background-color: white;
      overflow: scroll;
      li {
        height: 80px;
        background-color: white;
        border: 1px solid #f5f5f5;
      }
      li:hover{
        background-color: #f1f1f1;
      }

      .productLists{

        .productList a{
          text-decoration: none;
          padding: 20px;
          height: 160px;
          border-bottom: 2px solid #f5f5f5;
          display: flex;
          color: black;
          .productList--image{
            width: 200px;
            height: 200px;
          }
          .productList--body{
            padding-left: 30px;
            .detail ul{
              padding-top: 5px;
              .fa.fa-star.LikeIcon {
                margin-left: 20px;
              }
            }
            .status{
              // display: flex;
              .created-at{
                font-size: smaller;
              }
              .soldout-icon {
                background-color: red;
                font-size: 17px;
                width: 80px;
                color: white;
                border-radius: 3px;
                margin: 8px 0 0;
                padding: 5px 6px;
              }
            }
          }
        }
      }
    }
  }
}
  
