
.main-left__list{

  .productLists{
    .productList{
      display: flex;
      .productList--image{
        width: 100px;
        height: 100px;
      }
      .productList--body{
        .detail{
          
        }
      }
    }
  }
}