.mypage {
  // height: 100vh;
  .main {
    // height: 100vh;
  }
}

.main{
  .main-left{
    .block{

    }
    .contents{
      display: flex;
      border-bottom: 2px solid #f5f5f5;
      .unsold-title {
        text-decoration: none;
        color: black;
        height: 80px;
        width: calc(100% / 2);
        background-color: white;
        border: 1px solid #f5f5f5;
        line-height: 80px;
        text-align: center;
        font-weight: bold;
      }
      .soldout-title{
        text-decoration: none;
        color: black;
        height: 80px;
        width: calc(100% / 2);
        border: 1px solid #f5f5f5;
        background-color: white;
        line-height: 80px;
        text-align: center;
        font-weight: bold;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJ0lEQVQoU2NkIAz+MxJWw8BAkaL/DEgGUGQSilORTUKxAlkV9awDAFi7Awk1UQF9AAAAAElFTkSuQmCC)repeat;
      }
    }
    .list{
      height: 400px;
      background-color: white;
      overflow: scroll;
      .icon {
        width: 200px;
        margin: auto;
        line-height: 200px;
      }
      .unsold-text {
        margin-left: 238px;
        padding-top: 15px;
      }
      li {
        height: 80px;
        background-color: white;
        border: 1px solid #f5f5f5;
      }
      li:hover{
        background-color: #f1f1f1;
      }

      .productLists{

        .productList a{
          text-decoration: none;
          padding: 20px;
          height: 160px;
          border-bottom: 2px solid #f5f5f5;
          display: flex;
          color: black;
          .productList--image{
            width: 180px;
            height: 120px;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .productList--body{
            padding-left: 30px;
            .detail ul{
              padding-top: 5px;
              .fa.fa-star.LikeIcon {
                margin-left: 20px;
              }
            }
            .status{
              // display: flex;
              .created-at{
                font-size: smaller;
              }
              .updated-at{
                font-size: smaller;
              }
              .afterbuy-icon{
                background-color: rgb(252, 187, 8);
                font-size: 17px;
                width: 80px;
                color: white;
                border-radius: 3px;
                margin: 8px 0 0;
                padding: 5px 6px;
              }
              .unsold-icon {
                background-color: #0099e8;
                font-size: 17px;
                width: 63px;
                color: white;
                border-radius: 3px;
                margin: 8px 0 0;
                padding: 5px 6px;
              }
            }
          }
        }
      }
    }
  }
}
  
