* {
  box-sizing: border-box;
}

header {
  display: block;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.wrapper {
  width: 100vw;
  background-color: #f5f5f5;
  min-height: auto;
  .header {
    white-space: nowrap;
    padding: 0 60px;
    background-color: white !important;
    .headerInner {
      max-width: 1040px;
      width: 100%;
      min-height: 82px;
      margin: 0 auto;
      padding: 15px 0 0;
      .mainHeader {
        position: relative;
        display: flex;
        align-items: center;
        .icon {
          padding-bottom: 10px;
          margin-right: 30px;
          border-radius: 4px;
          a {
            width: 140px;
            display: block;
          }
        }
        .searchBox {
          margin-left: auto;
          width: 100%;
          .searchBox__keyword-form {
            width: 100%;
            display: flex;
            margin-bottom: 5px;
            .searchBox__keyword-form {
              width: calc(100% - 26px);
              height: 36px;
              padding: 0 0 0 5px;
            }
            button {
              width: 36px;
              height: 36px;
              border: 0;
              cursor: pointer;
              background-color: #3CCACE;
              padding: 8px;
              img {
                width: 100%;
                vertical-align: bottom;
              }
            }
          }
        }
      }
      .nav {
        font-size: 14px;
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
        .listsLeft {
          position: relative;
          display: flex;
          &__item {
            display: flex;
            line-height: 38px;
            a {
              color: #333;
              text-decoration: none;
              line-height: 32px;
              background-position: center right;
              background-repeat: no-repeat;
              background-size: 18px;
              padding-right: 30px;
            }
          }
          &__item--first {
            text-decoration: none;
            padding: 0;
          }
          a:hover{
            color: #3CCACE;
          }
          .listsLeft__item.listsLeft__item--first:hover > .first {
            visibility: visible;
            opacity: 1;
          }
          .first {
            visibility: hidden;
            background-color: rgba(255, 247, 247, 0.7);
            position: absolute;
            top: 32px;
            z-index: 2;
            &__parent {
              width: 200px;
              height: 35px;
              font-size: 12px;
              line-height: 35px;
              padding-left: 10px;
              &:hover > .second{
                opacity: 1;
                visibility: visible;
                color: black;
                border-left: 1px solid #f5f5f5;
              }
              .second {
                height: 100%;
                visibility: hidden;
                background-color: rgba(255, 247, 247, 0.7);
                position: absolute;
                top: 0;
                left: 100%;
                &__child {
                  padding-left: 10px;
                  width: 200px;
                  &:hover > .third {
                    opacity: 1;
                    visibility: visible;
                    border-left: 1px solid #f5f5f5;
                  }
                  .third {
                    height: 100%;
                    visibility: hidden;
                    background-color: rgba(255, 247, 247, 0.7);
                    position: absolute;
                    top: 0;
                    left: 100%;
                    &__grandchild {
                      padding-left: 10px;
                      width: 200px;
                    }
                    &__grandchild:hover {
                      background-color: #f5f5f5;
                    }
                  }
                }
                &__child:hover {
                  background-color: #f5f5f5;
                }
              }
            }
            &__parent:hover {
              background-color:#ea352d;
              color: white;
            }
          }
        }
        .listsRight {
          margin-left: auto;
          display: flex;
          &__item {
            color: #333;
            line-height: 38px;
            padding: 0 0 0 16px;
            a {
              display: flex;
              align-items: center;
              color: #333;
              text-decoration: none;
              line-height: 32px;
            }
          }
          &__item--first {
            text-decoration: none;
            padding: 0;
          }
        }
      }
    }
  }

  .mypage {
    height: 700px;
    margin: 40px 200px;
    min-width: 650px;
    .side {
      width: 30%;
      min-width: 195px;
      float: left;
      .side-top {
        height: 300px;
        li {
          height: 50px;
          background-color: white;
          border: 1px solid #f5f5f5;
          line-height: 50px;
          padding-left: 15px;
          font-size: 13px;
          padding-left: 15px;
        }
        li:hover{
          background-color: #f1f1f1;
        }
      }
      // .side-pay {
      //   height: 130px;
      //   margin-top: 30px;
      //   &__title {
      //     height: 30px;
      //     background-color:#fffdfd;
      //     line-height: 30px;
      //     font-weight: bold;
      //     font-size: 15px;
      //   }
      //   li {
      //     font-size: 13px;
      //     height: 50px;
      //     background-color: white;
      //     border: 1px solid #f5f5f5;
      //     padding-left: 15px;
      //     line-height: 50px;
      //   }
      //   li:hover{
      //     background-color: #f1f1f1;
      //   }
      // }
      .side-cog {
        height: 420px;
        margin-top: 30px;
        &__title {
          height: 30px;
          font-weight: bold;
          font-size: 15px;
          line-height: 30px;
        }
        li {
          font-size: 13px;
          height: 50px;
          background-color: white;
          border: 1px solid #f5f5f5;
          padding-left: 15px;
          line-height: 50px;
        }
      li:hover{
        background-color: #f1f1f1;
      }
      }
    }
    .main {
      height: 1180px;
      width: 65%;
      float: right;
      .main-left {
        height: 680px;
        .block{
          height: 200px;
          background-image: image-url("mypage.img.jpg");
          padding: 40px 100px 20px 100px ;
          .profile {
            height: 120px;
            text-align: center;
              .users-info{
                height: 100px;
                width: 50px;
                line-height: 100px;
                margin: 0 auto;
                &__name{
                  font-weight: bold;
                }
              }
              .sub-info{
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                height: 50px;
                width: 150px;
                .assessment{
                  &__num{
                    padding-left: 5px;
                    font-weight: bold;
                  }
                }
                .exhibit{
                  &__num{
                    padding-left: 5px;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        .contents {
          display: flex;
          h1 {
            height: 80px;
            width: calc(100% / 2);
            background-color: white;
            border: 1px solid #f5f5f5;
            line-height: 80px;
            text-align: center;
            font-weight: bold;
          }
        }
        &__list {
          height: 400px;
          background-color: white;
          overflow: scroll;
          li {
            height: 80px;
            background-color: white;
            border: 1px solid #f5f5f5;
          }
          li:hover{
            background-color: #f1f1f1;
          }
        }
      }
    }
  }



  .appBanner {
    background-image: url(bg-appBanner-pict.jpg);
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    .inner {
      color: #fff;
      text-align: center;
      &__title {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text {
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__icon {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        a:first-child {
          margin-right: 10px;
        }
        a {
          width: 180px;
          margin-right: 10px;
          img {
            border-radius: 7px;
          }
        }
      }
    }
  }

  .footer {
    padding: 60px 0;
    color: #fff;
    background-color: #272727;
    text-align: center;
    .contents {
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      .content {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        margin: 0 2% 0 0;
        &__head {
          margin: 0 0 20px;
          font-size: 16px;
          font-weight: bold;
        }
        li a {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
    &__logo {
      max-width: 160px;
      width: 100%;
      margin: 0 auto;
    }
    p {
      font-size: 14px;
    }
  }
}