.wrapper {
  width: 100vw;
  height: auto;
  background-color: #f5f5f5;
  min-height: 100vh;
  .user-header {
    height: 128px;
    &__logo {
      line-height: center;
      text-align: center;
      padding-top: 40px;
      width: 180px;
      margin: auto;
    }
  }

  .login-main{
    .login-panel {
      width: 456px;
      text-align: center;
      margin: auto;
      .register {
        background-color: white;
        padding: 40px 64px;
        font-size: 14px;
        &__register-btn a{
          width: 100%;
          height: 48px;
          display: block;
          line-height: 48px;
          background-color: #0099e8;
          margin-top: 8px;
          color: white;
          border: 1px solid #0099e8;
          text-decoration: none;
        }
      }
      // .sns-api {
      //   background-color: white;
      //   text-align: center;
      //   margin: auto;
      //   border-top: solid 1px #eee;
      //   padding: 32px 64px;
      //   text-decoration: none;
      //   &__facebook-btn a{
      //     width: 326px;
      //     height: 48px;
      //     display: block;
      //     line-height: 40px;
      //     background-color: #385185;
      //     margin-top: 8px;
      //     color: white;
      //     border: solid 1px #385185;
      //     text-decoration: none;
      //   }
      //   &__google-btn a{
      //     width: 326px;
      //     height: 48px;
      //     display: block;
      //     line-height: 40px;
      //     background-color: white;
      //     margin-top: 16px;
      //     border: solid 1px #979797;
      //     color: black;
      //     text-decoration: none;
      //   }
      // }
      .forms {
        border-top: solid 1px #eee;
        background-color: white;
        margin: auto;
        padding: 24px 64px 32px;
        &__address-form input{
          font-size: 16px;
          width: 100%;
          height: 48px;
          padding: 10px 16px 8px;
          font-size: 16px;
          border-radius: 4px;
          border: 1px solid #ccc
        }
        &__pass-form input {
          font-size: 16px;
          width: 100%;
          height: 48px;
          padding: 10px 16px 8px;
          font-size: 16px;
          margin-top: 24px;
          border-radius: 4px;
          border: 1px solid #ccc
        }

        .login-btn {
          color: white;
          text-decoration: none;
          width: 100%;
          height: 48px;
          margin-top: 24px;
          background-color: red;
          line-height: 48px;
          font-size: 14px;
        }
        
        .forget-link {
          display: block;
          margin: 40px 0 0 0;
          color: #0099e8;
          text-align: left;
          text-decoration: none;
        }
      }
    }
  }

  .user-footer {
    width: 456px;
    height: 120px;
    margin: 0px auto;
    padding: 40px;
    &__link {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      // padding: 0 30px;
      a {
        text-decoration: none;
        color: black;
      }
    }
    &__logo {
      width: 180px;
      height: 65px;
      margin: 30px auto;
    }
  }

}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  .forget-main {
    width: 978px;
    height: 448px;
    margin: auto;
    .forget-panel {
      width: 700px;
      height: 448px;
      background-color: white;
      margin: 0 auto;
      .title {
        font-weight: bold;
        height: 97px;
        font-size: 22px;
        line-height: 97px;
        margin: 0 228px;
        font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      }
      .send-main {
        border-top: solid 1px #eee;
        height: 451px;
        padding: 64px 64px 0 64px;
        .address-group {
          margin: 0 126px;
          height: 100%;
          .address-form {
            .label{
              font-size: 13px;
              font-weight: 600;
            }
            .form-address input{
              font-size: 16px;
              width: 100%;
              height: 48px;
              margin: 8px 0 0;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc
            }
            .p {
              font-size: 12px;
              margin: 8px 0 0;
              color: #888888;
            }
          }
        }
        .send-btn {
          color: white;
          text-decoration: none;
          width: 100%;
          height: 48px;
          margin-top: 24px;
          background-color: red;
          line-height: 48px;
          font-size: 14px;
        }
      }
    }
  }
}